.ul>li{
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color:white
}
.ul>li:hover{
    color: white;
}


.ul{
    display: flex;
    justify-content: space-evenly;
}

.active{
    color:rgb(190, 0, 207);
}


