
.delButton{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 15px 5px 15px;
}
.newInput{
  width: 150px;
  height: 22px;
}
.newSave{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newEdit{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.newCancel{
  margin:10px 10px 10px 10px;
  padding: 5px 15px 5px 15px;
}
.CardForm{
  width:280px;
  margin-left: 20px;
  margin-bottom: 20px;
}
